@using _5school.BLL.ViewModels;
@model PageVM

<h1 class="big-text">— @Model.Title —</h1>

<div class="container box">
    @if (Model.ImageFile != null)
    {
        <img src="@Model.ImageFile" class="img-fluid p-2" style="float:left; height:auto;" />
        <p class="article-main-text p-2">@Model.Text</p>
    }
    else
    {
        <p class="article-main-text">@Model.Text</p>
    }
</div>