@using _5school.BLL.ViewModels;
@model ArticleVM
<div class="container">
    <img src="@Model.ImageFile" class="img-fluid article-main-img"/>
    
    <h3 class="big-text">
        — @Model.Title —
    </h3>
    <p class="article-main-text">
        @Model.Description
    </p>
</div>