@using _5school.BLL.ViewModels;
@model List<GroupVM>



@foreach (var item in Model)
{
    <h2 class="big-text">— @item.Name —</h2>
    <div class="container box gap-15">
        <div class="row justify-content-center align-items-center">
            @foreach (var teacher in item.Teachers.Where(a => !a.IsDeleted))
            {
                <div class="col-lg-3">
                    <div class="card mt-3">
                        <img src="@teacher.ImagePath" class="img-fluid profile-card-img" />
                        <h5 class="big-text">@teacher.FirstName @teacher.LastName</h5>
                    </div>
                </div>
            }
        </div>
    </div>
}