@using _5school.BLL.ViewModels;
@model List<ReportVM>

@foreach (var item in Model.Where(a => !a.IsDeleted))
{
    <div>
        <a class="big-text text-decoration-none" href="@item.FilePath">@item.Name</a>
    </div>
}