@using _5school.BLL.ViewModels;
@using _5school.DAL.Enums;
@model List<ArticleVM>

<h2 class="big-text">— Նորություններ —</h2>

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-lg-4">
                <div class="card" data-aos="fade-right" data-aos-duration="1500">
                    <img src="@item.ImageFile" class="img-fluid article-card-img" />
                    <h5 class="big-text">@item.Title</h5>
                    <p class="article-text">
                        @(item.Description.Length > 100 ? item.Description.Remove(100) : item.Description + "...")
                    </p>
                    <a class="btn btn-outline-warning btn-anim" asp-action="Main" asp-controller="Article" asp-route-id="@item.Id">Ավելին</a>
                </div>
            </div>
        }
    </div>
</div>