.main-img {
    padding: 5px;
    border-radius: 35px;
}

.big-text {
    color: #FCA311;
    text-align: center;
    margin-top: 5%;
}

.card-img {
    padding: 40px;
    max-height: 550px;
}

.button {
    margin: 40px;
    background-color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FCA311;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #FCA311;
    text-align: center;
    width: 60%;
    align-self: center;
}

    .button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #FCA311;
        box-shadow: 4px 5px 17px -4px #FCA311;
    }

    .button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #FCA311;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
    }

    .button:hover::before {
        width: 250%;
    }


.box {
    margin-top: 2%;
    box-shadow: 2px 10px 25px 2px #123278;
    border: 5px solid #123278;
    border-radius: 35px;
    padding: 35px;
}
.card {
    box-shadow: 2px 10px 25px 2px #123278;
    border:5px solid #123278;
    border-radius:35px;
}

.profile-card-img {
    padding: 20px;
    border-radius: 35px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.article-text {
    padding: 10px;
    text-align: center;
    color: #123278;
    font-size: 18.4px;
}

.article-main-text {
    text-align: left;
    color: #123278;
    font-size: 22.4px;
}

.article-card-img {
    padding: 10px;
    border-radius: 35px;
    min-height: 300px;
    object-fit: cover;
}

.article-main-img {
    border-radius: 35px;
    border: 5px solid #123278;
    box-shadow: 2px 10px 25px 2px #123278;
    object-fit: cover;
}

.stream-img {
    max-height: 420px;
}

.blue-link {
    color: #123278;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #123278;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

    .social-icon__link:hover {
        transform: translateY(-10px);
    }

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

    .menu__link:hover {
        opacity: 1;
    }

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/Images/wave1.png');
    background-size: 1000px 100px;
}

    .wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
    }

    .wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
    }

    .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
    }

    .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
    }

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

.underline {
    display: block;
    position: relative;
    font-size: 18.4px;
    color: #123278;
}

    .underline::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: #123278;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .underline:hover::after,
    .underline:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }

.big-card-text {
    margin-top: 2%;
    box-shadow: 2px 10px 25px 2px #123278;
    border: 5px solid #123278;
    border-radius: 35px;
    padding: 35px;
}


.substream-text {
    margin-top:98px;
}
@media only screen and (max-width: 600px) {
    .substream-text {
        margin-top:0;
    }
}