<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="error__main__text">Error 404</h2>
            <h5 class="error__text">Page not found</h5>
        </div>
        <div class="col-lg-6">
            <img src="~/Files/error404.gif" class="img-fluid" />
        </div>
    </div>
</div>